.header{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation__menu{ 
  margin: 0;
}
  .navigation__menu li{ 
    display: inline;
    margin-right: 15px; 
  }

.button--contact{
  border: 1px solid #A6A4A8;
  background: #FFFFFF;
  padding: 10px 20px;
  border-radius: 3px;
}