@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,500&display=swap');

.roboto--light{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.roboto--normal{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.roboto--bold{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}